
.section-big-container{
    padding: 100px;
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section-block{
    display: flex;
    gap: 60px;
    align-items: center;
}
.section-tetx{
    width: 100%;
    max-width: 600px;
}
.section-img-left img{
    position: relative;
    z-index: 10;
}
.section-img-left{
    z-index: 10;
    position: relative;
}
.section-img-left::after{
    left: 30px;
    top: 25px;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    border: 1px solid;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
}
.section-img-right img{
    position: relative;
    z-index: 10;
}
.section-img-right{
    z-index: 10;
    position: relative;
}
.section-img-right::after{
    left: -30px;
    top: 25px;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    border: 1px solid;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
}


.pElement{
    opacity: 0.6;
}
.content-container p{
    cursor: pointer;
    font-size: 22px;
}
.content-big{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.content-container{
    display: flex;
    gap: 40px;
    align-items: center;
}