.section-big-container{
    align-items: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section-conatiner{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
}
.section-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    width: 400px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-text-row{
    display: flex;
}
.section-text-row a:hover{
    background-color: #66B64D;
    color: white;
}
.section-text-row a{
    color: black;
    margin-left: -34px;
    transition: .5s;
    cursor: pointer;
    border-radius:0px 80px 80px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px 40px 5px 40px;
}
.section-text-row p{
    position: relative;
    border-radius: 80px 200px 0px 80px;
    color: white;
    background-color:#66B64D ;
    padding: 5px 30px 5px 20px;
}
.section-end-text{
    align-self: flex-end;
    display: flex;
    gap: 20px;
}
/* ---content---- */
.content{
    margin: 50px 125px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 70px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-icon{
    cursor:pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}
.content-left-row{
    display: flex;
    gap: 40px;
}
.content-left{
    padding-left: 40px;
    border-left: 1px solid      
    #CBCBCB;
}
.content-left h3{
    color: #66B64D;
    padding-bottom: 20px;
}
.content-text-row{
    display: flex;
    gap: 40px;

}
.content-right h2{
    color: #66B64D;
}
.content-right{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* -----page----- */

.page-container{
    display: flex;
    flex-direction: column;
    gap:60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 50px 100px;
    padding: 80px;
}
.page-bolck p{
padding: 10px;
}
.page-bolck ul{
    padding-top: 10px;
    padding-left: 30px;;
}
.page-bolck h2{
    color: #66B64D;
}
.page-container h1{
    color: #3d722d;
}
.page-container h3{
    transition: .4s;
    cursor: pointer;
    width: fit-content;
    padding: 10px 40px ;
    color: white;
    background-color: #66B64D;
    border-radius: 25px;
}
.page-container h3:hover{
   transform: scaleX(1.1);
}
