.section-big-container{
    align-items: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section-conatiner{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
}
.section-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    width: 430px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-text-row{
    display: flex;
}
.section-text-row b{
    cursor: pointer;
    border-radius:80px 80px 80px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px 40px 5px 20px;
}
.section-text-row p{
    border-radius: 80px 200px 0px 80px;
    color: white;
    background-color:#66B64D ;
    padding: 5px 20px;
}
.section-end-text{
    align-self: flex-end;
    display: flex;
    gap: 20px;
}