
/* ---Ccontent--- */
.content-navbar-block{
    background-image: url('../../img/Rectangle 18 (4).png');
    width: 100%;
    background-size: cover;
    height: 500px;
    position: relative;
}
.content-navbar-block::after{
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.215);
    width: 100%;
    height: 100%;
}
.content-text-navbar-block p{
    font-size: 25px;
}
.content-text-navbar-block{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10;
    width: 100%;
    max-width: 850px;
    font-size: 30px;
    bottom: 30px;
    left: 80px;
    z-index: 10;
}
.content-top-text-navbar-block{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 10;
}
/* ---Tab---- */
.tab-1{
    color: black;
}
.tab-1-active{
    opacity: 0.7;
}
.Tab-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-text-top-block{
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tab-content-text{
    padding: 20px ;
    display: flex;
    text-align: center;
}.tab-container p{
    font-weight: 600;
}
.tab-container {
    text-align: center;
}
.tab-content-text h3{
    cursor: pointer;
    padding-left: 50px;
}
.big-tab{
    padding: 50px 0;
    display: flex;
   width: 100%;
   max-width: 700px;
}
.tab-none{
    display: none;
}
.partnyor-block{
    gap: 30px;
    display: flex;

}
.Partnyolar{
    padding: 80px 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partnyolar-img img{
    cursor: pointer;
    transition: .4s;
}
.partnyolar-img img:hover{
    filter: invert(100%); 
    -webkit-filter: invert(100%); 
}
.Partnyolar h2{
    padding-bottom: 40px;
    font-size:2.5rem;
}