
.content-top-text-navbar-block{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 10;
} 
/* ---Tab---- */
.tab-1{
    color: black;
}
.tab-1-active{
    opacity: 0.7;
}
.Tab-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-text-top-block{
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tab-content-text{
    padding: 20px ;
    display: flex;
    text-align: center;
}.tab-container p{
    font-weight: 600;
}
.tab-container {
    text-align: center;
}
.tab-content-text h3{
    cursor: pointer;
    padding-left: 50px;
}
.big-tab{
    padding: 50px 0;
    display: flex;
   width: 100%;
   max-width: 700px;
}
.tab-none{
    display: none;
}
.partnyor-block{
    gap: 30px;
    display: flex;

}
.Partnyolar{
    width: 100%;
    padding: 80px 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partnyolar-img img{
    width: 100%;
    cursor: pointer;
    transition: .4s;
}
.partnyolar-img img:hover{
    filter: invert(100%); 
    -webkit-filter: invert(100%); 
}
.Partnyolar h2{
    padding-bottom: 40px;
    font-size:2.5rem;
}
@media(max-width:670px){
    .partnyor-block{
        width: 100%;
    }
    .tab-content-text{
        padding: 20px 0;
        flex-direction: column;
        gap: 20px;
    }
}
.tab-container p{
    padding: 40px 20px;
}
