body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.pElement-content-navbar-block {
  color: black;
  cursor: pointer;
  opacity: 0.7;
}
.pElement-bold-navbar-block {
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
.pElement-bold-navbar-block::after {
  position: absolute;
  top: 8px;
  left: -15px;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #66b64d;
  border-radius: 50%;
}
.container-header {
  align-items: baseline;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #66b64d;
}
.big-container {
  margin-bottom: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.header-content-block {
  padding: 10px 70px;
  display: flex;
  justify-content: space-between;
}
.header-icon {
  display: flex;
  gap: 20px;
}
.header-icon i {
  cursor: pointer;
}
.header-content {
  color: white;
  width: 100%;
  align-items: center;
  display: flex !important;
  justify-content: space-between !important;
  padding: 20px 50px;
}
.header-menu-icon i {
  cursor: pointer;
}
.header-menu-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-lag {
  display: flex;
  gap: 5px;
  align-items: center;
}
a.active {
  opacity: 0.6;
}
.nav-container ul a:hover {
  opacity: 0.6;
}
.nav-container ul a {
  transition: 0.5s;
}
.nav-container-top i {
  cursor: pointer;
}
.nav-container-top i {
  font-size: 30px;
}
.nav-container-top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  width: 100%;
}
.Navbar-content {
  z-index: 1000;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
}
.Navbar-content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar {
  transition: 0.3s;
  left: -100%;
  z-index: 1000;
  background-color: #00421d;
  color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}
.navbar.active ul a {
  color: white;
  font-size: 35px;
}
.navbar.active ul li {
  list-style: none;
}
.navbar.active ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navbar.active {
  align-items: baseline;
  position: fixed;
  padding: 70px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}
.block-navbar-left {
  color: white;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar-left-page {
  padding: 30px 0;
}
.navber-icon-left {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}

/* ---swiper--- */
.swiper-button-prev::after {
  color: white;
  font-size: 30px !important;
}
.swiper-button-next::after {
  color: white;
  font-size: 30px !important;
}
.swiper-button-prev {
  top: auto !important;
  bottom: 50px !important;
  right: 100px !important;
  left: auto !important;
}
.swiper-button-next {
  top: auto !important;
  bottom: 50px !important;
  right: 50px !important;
  left: auto !important;
}
.swiper-wrapper {
  height: 550px !important;
}
.swiper-slide.swiper-slide-next img,
.swiper-slide.swiper-slide-prev img,
.swiper-slide.swiper-slide-active img,
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pos {
  background-color: rgba(0, 0, 0, 0.352);
  z-index: 1;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}
.header-content {
  z-index: 100;
  position: absolute;
  top: 0;
}
.header-text-pos p {
  opacity: 0.8;
}
.header-text-pos {
  z-index: 10;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 40%;
  left: 100px;
  width: 600px;
}
.header-text-pos a {
  text-decoration: none;
  width: fit-content;
  border-radius: 20px;
  padding: 10px 40px;
  color: white;
  background-color: #66b64d;
}

/* ----Content---- */
.content {
  gap: 20px;
  padding: 70px;
  display: flex;
  justify-content: space-between;
}
.content-block img {
  margin-bottom: 10px;
  height: 120px;
  width: 100%;
  object-fit: contain;
}
.content-block {
  text-align: center;
  width: 100%;
  max-width: 350px;
  height: auto;
}

/* ----Item---- */
.Item-Container {
  background-color: rgb(233, 240, 255);
  display: flex;
  gap: 80px;
  padding: 80px 0;
  justify-content: center;
  align-items: center;
}
.pElement-top {
  color: #466e61;
}
.pElamant {
  font-weight: 700;
  margin-bottom: 10px;
  padding: 15px 0;
}
.item-left {
  width: 100%;
  max-width: 550px;
}
.item-left a:hover {
  padding: 10px 50px;
}
.item-left a {
  transition: 0.5s;
  padding: 10px 40px;
  background-color: #66b64d;
  color: white;
  border-radius: 20px;
}
.item-right {
  position: relative;
}
.item-right::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -30px;
  top: 28px;
  border: 1px solid;
  border-top-left-radius: 110px;
  border-bottom-right-radius: 110px;
}
.item-right img {
  z-index: 100;
  position: relative;
  border-top-left-radius: 110px;
  border-bottom-right-radius: 110px;
}

/* ---section--- */
.section {
  display: flex;
  justify-content: center;
}
.Section-container {
  gap: 20px;
  justify-content: center;
  height: 100%;
  display: flex;
  padding: 100px;
}
.section-col {
  display: flex;
  gap: 10px;
}
.section-col {
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-block i {
  transition: 0.5s;
}
.section-block-1 i {
  transition: 0.5s;
}
.section-block {
  width: 100%;
}
.section-block img {
  width: 100%;
}
.section-block h3 {
  padding-top: 10px;
}
.section-block-row {
  align-items: flex-end;
  gap: 100px;
  display: flex;
  justify-content: space-between;
}
.section-block-1 img {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  max-width: 500px;
}
.section-block-1 {
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.section-row {
  width: 100%;
  display: flex;
  gap: 10px;
}
.section-block-row p,
.section-block-row i {
  color: black;
}
.section-block:hover i,
.section-block-1:hover i {
  padding: 0px 10px;
}

/* -aside--- */
aside {
  background-color: rgb(233, 240, 255);
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 15px;
}
.aside-input input {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #466e61;
  outline: none;
}
.aside-input {
  width: 100%;
  display: flex;
  gap: 15px;
}
.aside-container input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #466e61;
  outline: none;
  padding: 5px;
}
.aside-top {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
}
.aside-container a:hover {
  background-color: #466e61;
  color: white;
}
.aside-container a {
  transition: 0.5s;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #466e61;
  background-color: transparent;
  text-align: center;
  width: 100%;
}
.aside-input-col {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.aside-input-col input {
  margin-top: 10px;
}
.aside-input-col button:hover {
  background-color: #466e61;
  color: white;
}
.aside-input-col button {
  cursor: pointer;
  transition: 0.5s;
  border-radius: 20px;
  padding: 5px;
  background-color: transparent;
}

/* ---footer---- */
footer {
  position: relative;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/Rectangle 2.png");
}
footer img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.Footer-container {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 50px 200px;
}
.footer-ul ul a li {
  list-style: none;
}
.footer-ul ul a:hover {
  opacity: 0.6;
}
.footer-ul ul a {
  transition: 0.3s;
  color: white;
  text-decoration: none;
}
.footer-ul ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-text {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-text-row {
  display: flex;
  gap: 40px;
}
.footr-text-left {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.footer-end {
  position: relative;
  z-index: 100;
  color: white;
  align-items: flex-end;
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
}
.footer-end-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-end-left h1 {
  font-size: 2.5rem;
}

.footer-end-row {
  display: flex;
  gap: 10px;
}
.footer-end-right {
  flex-direction: column;
  display: flex;
  gap: 10px;
}
.footer-icon {
  cursor: pointer;
  display: flex;
  gap: 15px;
}

/* ----content-navbar---- */

.content-navbar-block {
  background-image: url("../../img/Rectangle 18 (4).png");
  width: 100%;
  background-size: cover;
  height: 500px;
  position: relative;
}
.content-navbar-block::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.215);
  width: 100%;
  height: 100%;
}
.content-text-navbar-block p {
  font-size: 25px;
}
.content-text-navbar-block {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10;
  width: 100%;
  max-width: 850px;
  font-size: 30px;
  bottom: 30px;
  left: 80px;
  z-index: 10;
}
.content-top-text-navbar-block a {
  color: black;
  opacity: 0.6;
}
.content-top-text-navbar-block {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 40px;
  left: 50px;
  z-index: 10;
}
.content-navbar-block-contact {
  background-image: url("../../img/Rectangle 182.png");
  width: 100%;
  background-size: cover;
  height: 500px;
  position: relative;
}
.content-navbar-block-contact::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.215);
  width: 100%;
  height: 100%;
}
.content-navbar-block-news {
  background-image: url("../../img/Rectangle 18 (1).png");
  width: 100%;
  background-size: cover;
  height: 500px;
  position: relative;
}
.content-navbar-block-qalereya {
  background-image: url("../../img/Rectangle 18 (2).png");
  width: 100%;
  background-size: cover;
  height: 500px;
  position: relative;
}
.pElement-content-navabr-block-qalereya {
  position: relative;
  z-index: 100;
  color: rgba(255, 255, 255, 0.953);
}
.pElement-bold-navbar-block-qalereya::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: -20px;
  top: 7px;
  border-radius: 50%;
  background-color: #ffffff;
}
.pElement-bold-navbar-block-qalereya {
  z-index: 100;
  position: relative;
  color: white;
}
.content-top-text-navbar-block-qalereya {
  padding: 50px 70px;
  display: flex;
  gap: 40px;
}
.content-top-text-navbar-block-qalereya::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.334);
  width: 100%;
  height: 100%;
}

.content-navbar-block-vakansiyalar {
  width: 100%;
  background-size: cover;
  height: 500px;
  position: relative;
  background-image: url("../public/img/Rectangle 180.png");
}
.content-navbar-block-vakansiyalar::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.215);
  width: 100%;
  height: 100%;
}
.Fallback {
  text-align: center;
}

/* ----modal---- */
.modal input {
  width: 100%;
}
.modal-input input {
  padding: 5px 20px;
  border-radius: 20px;
}
.modal-input {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.modal h2 {
  text-align: center;
}
.modal-content i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}
.modal::after {
  width: 100%;
  height: 100%;
  inset: 0;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.356);
}
.modal {
  transition: 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal.modal-none {
  opacity: 0;
  z-index: -1;
}
.modal-content {
  position: relative;
  transition: 0.5s;
  z-index: 1000;
  top: 0px;
  left: 27%;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
label {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.modal-content-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal-content p {
  cursor: pointer;
  color: white;
  width: 100%;
  background-color: #66b64d;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

@media (max-width: 1265px) {
    footer img{
        width: 100%;
    }
  .section-block-row {
    gap: 30px;
  }
}
@media (max-width: 1165px) {
  .Section-container {
    flex-direction: column;
  }
  .section-col {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
  }
  .Footer-container {
    padding: 50px 80px;
    gap: 20px;
    justify-content: space-between;
  }
  .Item-Container {
    padding: 80px 30px;
  }
  .item-right img {
    min-width: 400px;
    width: 100%;
  }
  .header-text-pos{
    left: 60px;
  }
}
@media (max-width: 800px){
    .header-text-pos{
        width: 100%;
    }
    .header-text-pos h1{
        max-width: 600px;
        width: 100%;
    }
    .content {
        flex-direction: column;;
        align-items: center;
        gap: 50px;
    }
    .Item-Container{
        flex-direction: column;
    }
    .Footer-container{
        flex-direction: column;
        gap: 50px;
    }
    .footer-end{
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        padding: 0px 80px 40px 80px;
    }
    .item-right::after{
        display: none;
    }
}
@media (max-width: 640px){
    .content{
        padding: 50px 20px;
    }
    .Section-container{
        padding: 50px 20px;
    }
    .section-row {
        flex-direction: column;
    }
    .section-col{
        flex-direction: column;
    }
    .aside-container{
        padding: 30px;
    }
    .aside-input{
        flex-direction: column;
    }
    .item-right img{
        display: none;
    }
    .Footer-container{
        padding: 40px 20px;
    }
    .footer-end{
        padding: 40px 20px;
    }
    .footer-text-row{
        gap: 10px;
        flex-direction: column;
    }
}
@media (max-width: 440px){
    .header-text-pos h1{
        font-size: 22px;
        width: 250px;
    }
    .header-text-pos a{
        padding: 10px 20px;
    }
    .swiper-button-next::after{
        font-size: 20px !important;
    }
    .swiper-button-prev::after {
        font-size: 20px !important;

    }
}