body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;

}

.container-header{
    align-items: baseline;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #66B64D;
}
.header-icon{
    display: flex;
    gap: 20px;
}
.header-icon i{
    cursor: pointer;
}
.header-content{
    color: white;
    width: 100%;
    align-items: center;
    display: flex !important;
    justify-content: space-between !important;
    padding:20px 50px;
}
.header-menu-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-lag{
    display: flex;
    gap: 5px;
    align-items: center;
}

/* ---swiper--- */
.swiper-button-prev::after{
    color: white;
    font-size: 30px !important;
}
.swiper-button-next::after{
    color: white;
    font-size: 30px !important;
}
.swiper-button-prev{
    top: auto !important;
    bottom: 50px !important;
    right: 100px !important;
    left: auto !important;
}
.swiper-button-next{
    top: auto !important;
    bottom: 50px !important;
    right: 50px !important;
    left: auto !important;
}
.swiper-wrapper{
    height: 550px !important;
}
.swiper-slide.swiper-slide-next img , .swiper-slide.swiper-slide-prev img , .swiper-slide.swiper-slide-active img , .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pos{
    background-color: rgba(0, 0, 0, 0.352);
    z-index: 1;
    content: "";
    inset: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    display: none;
}
.header-content{
    z-index: 100;
    position: absolute;
    top:0;
}
.header-text-pos p{
    opacity:0.8;
}
.header-text-pos{
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 40%;
    left: 100px;
    width: 600px;
}
.header-text-pos a{
    text-decoration: none;
    width: fit-content;
    border-radius: 20px;
    padding: 10px 40px ;
    color: white;
    background-color: #66B64D;
}


/* ----Content---- */
.content{
    gap: 20px;
    padding: 70px;
    display: flex;
    justify-content: space-between;
}
.content-block img{
    margin-bottom: 10px;
    height: 120px;
    width: 100%;
    object-fit: contain;
}
.content-block{
    text-align: center;
    width: 350px;
    height: auto;
}

/* ---footer---- */
footer{
    position: relative;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./img/Rectangle 2.png');
}
footer img{
    position: absolute;
    inset: 0;
}
.Footer-container{
    display: flex;
    justify-content:center;
    gap: 150px;
    padding: 50px 200px;
}
.footer-ul ul a li{
    list-style: none;
}
.footer-ul ul a{
    color: white;
    text-decoration:none;

}
.footer-ul ul{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.footer-text{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-text-row{
    display: flex;
    gap: 40px;
}
.footr-text-left{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer-end{
    color: white;
    align-items: flex-end;
    padding:50px 80px;
    display: flex;
    justify-content: space-between;
}
.footer-end-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-end-left h1{
    font-size: 2.5rem;
}

.footer-end-row{
    display: flex;
    gap: 10px;
}
.footer-end-right{
    flex-direction: column;
    display: flex;
    gap: 10px;
}
.footer-icon{
    display: flex;
    gap: 15px;
}